DOMAIN_NAME=<your_login>.42.fr
SQL_ROOT_PASSWORD=<strong_password>
SQL_USER=<db_user>
SQL_PASSWORD=<db_password>
SQL_DATABASE=wordpress
WP_TITLE=<title>
WP_ADMIN=<admin_login>
WP_ADMIN_PASSWORD=<admin_password>
WP_ADMIN_EMAIL=<admin_email>